<div id="about">
 <div class="container">
     <div class="row">
         <div class="col-md-2">

             <body>
                 <div class="container">
                     <div class="d-flex justify-content-center h-100">
                         <div class="image_outer_container">
                             <div class="green_icon"></div>
                             <div class="image_inner_container">
                                 <img src="../../../assets/img/20200918_152444.jpg">
                             </div>
                         </div>
                     </div>
                 </div>
             </body>

         </div>
         <div class="col-md-2">

             <h2 class="heading">About Me</h2>
         </div>
         <div class="col-md-8">
             <p>
                 Profesora de lengua y literatura en el nivel secundario y estudiante de la carrera de
                 Desarrollador web full stack.
                 El ultimo año he colaborado de forma remota, con el desarrollo de páginas web para una empresa
                 dedicada al desarrollo de sofware en la ciudad de San Miguel de Tucumán.

             </p>
         </div>
     </div>
 </div>
</div>
