@keyframes dropHeader{0%{transform:translateY(-100%)}100%{transform:translateY(0)}}

.container{
position:absolute;
top: 10px;
left:0;
right:0;
z-index:10;
animation-iteration-count:1;
animation-timing-function:ease;
 overflow: hidden;
 min-height: 10px;
 margin: auto;
animation-duration:0.75s}

.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
a{
display:block;color: white;
padding:10px;
background-image: linear-gradient(currentColor, currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s;
}
.logoArgentinaprograma{
 margin-right: 800px;   
    
}

.navega{
display:flex;
margin: 0 auto;
justify-content: center;
align-items: center;
margin-bottom: 50px;}

 
 
 .networksSocial{
 filter: grayscale(80%);
 opacity: 50%;
 }
 .networksSocial:hover{
 filter: grayscale(0%);
 opacity: 90%;
 }
 col{
  display:inline;
  padding-left:50px;
  padding-right:3px;
 }