<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <a [routerLink]="[ 'home']"><img class="logoArgentinaprograma"
                        src="../../../assets/img/APLogo-20-20.png" class="img-fluid" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-6 navega">
                <a href="https://www.facebook.com/juidth.leonardo/"><img class="networksSocial"
                        src="../../../../assets/img/fb-hover.svg" alt="Image" height="40" width="40" HSPACE="10"
                        VSPACE="10" /></a>
                <a href="https://www.linkedin.com/in/judith-leonardo-611a2611a/"><img class="networksSocial"
                        src="../../../../assets/img/in-hover.svg" alt="Image" height="40" width="40" HSPACE="10"
                        VSPACE="10" /></a>
                <a href="https://github.com/judith91"><img class="networksSocial"
                        src="../../../../assets/img/git-hover.svg" alt="Image" height="40" width="40" HSPACE="10"
                        
                        SPACE="10" /></a>
            </div>
            <div class="col">
                <a routerLink="login" routerLinkActive="active"> Login</a>
                <a class="nav-link" >Logout </a>
            </div>


        </div>
    </div>
</header>

<!-- End header -->