<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="../../../assets/img/project.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>TP Integrador Final</h3>
                    <p>Aplicación web full stack, que muestra: datos personales, estudios cursados, experiencia
                        laboral, conocimiento de las
                        tecnologías, etc. Es decir, mi portfolio web. Esta aplicación tiene una arquitectura
                        distribuida y contiene un
                        diseño de interfaz de usuario (front end) que muestra la información, una base de datos que
                        almacena los datos antes mencionados y cuenta
                        con las APIs necesarias para proveer a través de internet la información (back end).
                    </p>
                    <a href="#">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->
