<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div class="data" data-date="September 2020 – September 2021">
            <h3>Colegio Santísima Trinidad</h3>
            <h4>Profesora</h4>
            <p>
                En mi puesto me dedique a la enseñanza de lengua y literatura en primer, segundo y sexto año del
                nivel secundario.

            </p>
        </div>
        <div data-date="September 2020 – September 2021">
            <h3>Colegio Santísima Trinidad</h3>
            <h4>Asesor pedagógico</h4>
            <p>
                En mi puesto me dedique a la asesoría pedagógica del nivel primario de la institución.

            </p>
        </div>

        <div data-date="September 2021 – January 2022">
            <h3>Reingenio</h3>
            <h4>Desallorador web aprendiz</h4>
            <p>
                En mi puesto aprendi y puse en practica conocimientos de html, css y ts para el desarrollo de
                frontend y web responsive.
            </p>
        </div>
    </div>
</div>
